@import '../../styles/theme.scss';

.heading {
    @include page-heading;
}

.empty {
    text-align: center;
}

.cartSummary {
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
}

.cartSummaryItem {
    display: grid;
    grid-template-columns: 1fr 150px;
    text-align: right;
    font-weight: 400;
    margin: 6px;
}

.cartSummaryTotal {
    font-size: 27px;
}

.footer {
    @include footer;
}

@media screen and (max-width: 600px) {
    .cartSummaryItem {
        grid-template-columns: 1fr 80px;
        margin: 6px 0px;
    }
    .cartSummaryTotal {
        font-size: 18px;
    }
}
