@import "../../styles/theme.scss";

.heading {
    @include page-heading;
}

.empty {
    text-align: center;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.listHeader {
    color: $label-color;
}

.listItem {
    display: grid;
    grid-template-columns: 450px 60px 100px 100px 120px 50px;
    gap: 12px 12px;
    padding: 12px;
    align-items: center;
    font-weight: 400;
}

.listItem:not(.listHeader) {
    border-bottom: solid 1px $border-color;
    margin-bottom: 12px;
}

.listItem > div {
    padding: 12px;
}

.quantity {
    max-width: 100px;
}

.fullDelete {
    display: none;
}

.listItemLabel {
    display: none;
}

.product {
    display: flex;
    align-items: center;
}

.imageContainer {
    position: relative;
    height: fit-content;
    width: 180px;
}

.image {
    display: table;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.design {
    position: absolute;
    top: -10px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 40%;
    height: 50%;
}

.cartSummary {
    display: flex;
    flex-direction: column;
}

.cartSummaryItem {
    display: grid;
    grid-template-columns: 1fr 150px;
    text-align: right;
    font-weight: 400;
    margin: 6px;
}

.cartSummaryTotal {
    font-size: 27px;
}

@media screen and (max-width: 1000px) {
    .listHeader.listItem {
        display: none;
    }

    .listItem {
        display: flex;
        flex-direction: column;
        padding: 6px;
    }

    .listItem > div:not(:first-child) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 250px;
        padding: 0px;
    }

    .listItemLabel {
        display: block;
        color: $label-color;
        font-weight: 500;
    }

    .fullDelete {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .iconDelete {
        display: none;
    }

    .cartSummaryItem {
        text-align: left;
        display: flex;
        justify-content: space-between;
    }
}