.list {
    list-style: none;
}

.listItem {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.imageContainer {
    position: relative;
    height: 280px;
    width: 250px;
}

.image {
    display: table;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.design {
    position: absolute;
    top: -40px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100px;
    height: 150px;
}