@import '../../styles/theme.scss';

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.listHeader {
    color: $label-color;
}

.listItem {
    @include cartItem;
}

@media screen and (max-width: 1000px) {
    .listHeader.listItem {
        display: none;
    }
}
