.colorSelect {
    position: relative;
}

.colorPickerContainer {
    display: none;
    position: absolute;
    top: 106%;
    right: -106%;
    outline: none;
    border: none;
}

.colorPickerContainer.open {
    display: block;
    z-index: 1;
}
