.colorSelect {
    position: relative;
}

.colorPickerContainer {
    display: none;
    position: absolute;
    top: 100%;
    right: 0px;
    outline: none;
    border: none;
}

.colorPickerContainer.open {
    display: block;
    z-index: 1;
}