@import '../styles/theme.scss';

.container {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav {
    height: fit-content;
    width: 100vw;
    padding: 12px 36px;
    position: sticky;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $component-background-color;
    box-shadow: 0px -3px 6px 3px #74b6c7;
}

.navActions {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    cursor: pointer;
}

.navAction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 42px;
    line-height: 0;
}

.cartLink {
    text-decoration: none;
}

.logo {
    height: 80px;
    cursor: pointer;
    width: 330px;
    height: 80px;
}

.main {
    margin: 24px auto;
    width: 1000px;
    flex: 1 0 100%;
}

.footer {
    width: 100vw;
    color: white;
    background: $primary-color-dark;
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.1);
    padding: 12px;
    border-top: $border-color;

    font-size: $font-size-normal;
    display: flex;
    flex-direction: column;
}

.footer hr {
    border-top: solid $border-color 1px;
    width: 95vw;
}

.footer p {
    margin: 3px;
}

.footer a {
    color: $primary-color-light;
}

@media screen and (max-width: 1000px) {
    .main {
        width: 100%;
        padding: 24px;
    }
}

@media screen and (max-width: 600px) {
    .nav {
        padding: 12px 24px;
    }
    .logo {
        width: 165px;
        height: 40px;
    }
    .main {
        padding: 12px;
        width: 100%;
    }
    .footer {
        align-items: flex-start;
    }
    .progress {
        display: none;
    }
}
