@import '../styles/theme.scss';

.header {
    @include page-header
}

.footer {
    @include footer;
    display: flex;
    justify-content: flex-end;
}

.priceLabelMain {
    margin-right: 12px;
    align-self: center;
}
