@import '../styles/theme.scss';

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.heading {
    @include page-heading;
}

.footer {
    @include footer;
    display: flex;
    flex-direction: row-reverse;
}