body {
    background-color: #efefef;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
    box-sizing: border-box;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
    background-color: white;
}