$page-background-color: rgb(243, 242, 239);
$component-background-color: #ffffff;
$footer-background-color: #f9fafb;
$primary-color: #74b6c7;
$primary-color-dark: #5c7d84;
$primary-color-light: #9adbe7;
$accent-color: #d89507;
$border-color: rgba(0,0,0,0.3);

$link-color: rgb(0, 65, 130);
$low-emphasis-color: rgb(86, 104, 122);
$font-size-normal: 14px;