$page-background-color: rgb(243, 242, 239);
$component-background-color: #ffffff;
$footer-background-color: #f9fafb;
$primary-color: #74b6c7;
$primary-color-dark: #5c7d84;
$primary-color-light: #9adbe7;
$accent-color: #d89507;
$border-color: rgb(215, 210, 209);

$link-color: rgb(0, 65, 130);
$low-emphasis-color: rgb(86, 104, 122);
$font-size-normal: 14px;

$label-color: #84878A;

@mixin page-heading {
    margin: 0;
    padding: 12px;
}

@mixin footer {
    margin: 0px -24px -24px -24px;
    padding: 12px 24px;
    background-color: #f9fafb;
}

@mixin hero-font {
    font-size: 60px;

    @media screen and (max-width: 600px) {
        font-size: 40px;
    }
}

